rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.admin == true;
    }

    // Allow public read access to all files
    match /{allPaths=**} {
      allow read: if true;
    }

    // Restrict write access (create, update, delete) to signed-in users only for the products folder (Temporary)
    match /products/{allPaths=**} {
      allow write: if isSignedIn();
    }
  }
}
